# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\marco\Desktop\PoliTo\I Anno\II Semestre\Tecniche di programmazione\Projects\Lab_3\Es_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
